.RData
.Rhistory
.Rproj.user
.Ruserdata
data/dataset/CandidatoAno.csv
data/dataset/Coligacoes.csv
data/dataset/ColigacoesPartidos.csv
data/dataset/Inflacao.csv
data/dataset/MunicFinancas.csv
data/dataset/Partidos.csv
data/dataset/SocioDemoEconomia.csv
data/metadata/dataModel_MySQL/Participação e Finanças Dados.mwb.bak
data/raw/CepespData/.cepespdata/10579.csv
data/raw/CepespData/.cepespdata/10615.csv
data/raw/CepespData/.cepespdata/10616.csv
data/raw/CepespData/.cepespdata/10649.csv
data/raw/CepespData/.cepespdata/10650.csv
data/raw/CepespData/.cepespdata/10651.csv
data/raw/CepespData/.cepespdata/10652.csv
data/raw/CepespData/.cepespdata/114.csv
data/raw/CepespData/.cepespdata/115.csv
data/raw/CepespData/.cepespdata/116.csv
data/raw/CepespData/.cepespdata/117.csv
data/raw/CepespData/.cepespdata/30.csv
data/raw/CepespData/.cepespdata/31.csv
data/raw/CepespData/.cepespdata/32.csv
data/raw/CepespData/.cepespdata/33.csv
data/raw/CepespData/.cepespdata/4049.csv
data/raw/CepespData/.cepespdata/7773.csv
data/raw/CepespData/.cepespdata/7774.csv
data/raw/CepespData/.cepespdata/7775.csv
data/raw/CepespData/.cepespdata/7776.csv
data/raw/CepespData/.cepespdata/8242.csv
data/raw/CepespData/.cepespdata/8500.csv
data/raw/CepespData/.cepespdata/8820.csv
data/raw/CepespData/.cepespdata/8821.csv
data/raw/CepespData/.cepespdata/8984.csv
data/raw/CepespData/.cepespdata/9120.csv
data/raw/CepespData/LAMBDA_TSE_VEREADOR_MUNICIPIO_CANDIDATO_2000_AC.csv
data/raw/CepespData/LAMBDA_TSE_VEREADOR_MUNICIPIO_CANDIDATO_2000_SP.csv
data/raw/Finbra/Backup/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2013.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2014.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2015.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2016.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2013.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2014.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2015.zip
data/raw/Finbra/Backup/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2016.zip
data/raw/Finbra/Backup/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2013.zip
data/raw/Finbra/Backup/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2014.zip
data/raw/Finbra/Backup/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2015.zip
data/raw/Finbra/Backup/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2016.zip
data/raw/Finbra/ExcelFiles/Finbra1997.xlsx
data/raw/Finbra/ExcelFiles/Finbra1998.xlsx
data/raw/Finbra/ExcelFiles/Finbra1999.xlsx
data/raw/Finbra/ExcelFiles/Finbra2000.xlsx
data/raw/Finbra/ExcelFiles/Finbra2001.xlsx
data/raw/Finbra/ExcelFiles/Finbra2002.xlsx
data/raw/Finbra/ExcelFiles/Finbra2003.xlsx
data/raw/Finbra/ExcelFiles/Finbra2004.xlsx
data/raw/Finbra/ExcelFiles/Finbra2005.xlsx
data/raw/Finbra/ExcelFiles/Finbra2006.xlsx
data/raw/Finbra/ExcelFiles/Finbra2007.xlsx
data/raw/Finbra/ExcelFiles/Finbra2008.xlsx
data/raw/Finbra/ExcelFiles/Finbra2009.xlsx
data/raw/Finbra/ExcelFiles/Finbra2010.xlsx
data/raw/Finbra/ExcelFiles/Finbra2011.xlsx
data/raw/Finbra/ExcelFiles/Finbra2012.xlsx
data/raw/Finbra/ExcelFiles/Finbra89-93.xlsx
data/raw/Finbra/ExcelFiles/Finbra94-96.xlsx
data/raw/Finbra/ExcelFiles/Revenue2013.csv
data/raw/Finbra/ExcelFiles/Revenue2014.csv
data/raw/Finbra/ExcelFiles/Revenue2015.csv
data/raw/Finbra/ExcelFiles/Revenue2016.csv
data/raw/Finbra/ExcelFiles/SpendingElement2013.csv
data/raw/Finbra/ExcelFiles/SpendingElement2014.csv
data/raw/Finbra/ExcelFiles/SpendingElement2015.csv
data/raw/Finbra/ExcelFiles/SpendingElement2016.csv
data/raw/Finbra/ExcelFiles/SpendingFunction2013.csv
data/raw/Finbra/ExcelFiles/SpendingFunction2014.csv
data/raw/Finbra/ExcelFiles/SpendingFunction2015.csv
data/raw/Finbra/ExcelFiles/SpendingFunction2016.csv
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2013.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2014.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2015.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasOrcamentarias(AnexoI-D) - 2016.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2013.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2014.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2015.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_DespesasporFuncao(AnexoI-E) - 2016.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2013.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2014.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2015.zip
data/raw/Finbra/OriginalFiles/finbra_MUN_ReceitasOrcamentarias(AnexoI-C) - 2016.zip
data/raw/Finbra/OriginalFiles/Finbra1997.zip
data/raw/Finbra/OriginalFiles/Finbra1998.zip
data/raw/Finbra/OriginalFiles/Finbra1999.zip
data/raw/Finbra/OriginalFiles/Finbra2000.zip
data/raw/Finbra/OriginalFiles/Finbra2001v0809.zip
data/raw/Finbra/OriginalFiles/Finbra2002v0809.zip
data/raw/Finbra/OriginalFiles/Finbra2003.zip
data/raw/Finbra/OriginalFiles/Finbra2004v0809b.zip
data/raw/Finbra/OriginalFiles/Finbra2005v0809.zip
data/raw/Finbra/OriginalFiles/Finbra89-93.zip
data/raw/Finbra/OriginalFiles/Finbra94-96.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2006.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2007.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2008.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2009.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2010.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2011.zip
data/raw/Finbra/OriginalFiles/pge_finbra_2012.zip
data/raw/TSE/2000/LEIAME.pdf
data/raw/TSE/2000/votacao_candidato_munzona_2000.zip
data/raw/TSE/2000/votacao_candidato_munzona_2000_AC.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_AL.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_AM.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_AP.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_BA.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_CE.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_ES.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_GO.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_MA.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_MG.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_MS.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_MT.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_PA.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_PB.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_PE.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_PI.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_PR.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_RJ.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_RN.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_RO.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_RR.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_RS.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_SC.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_SE.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_SP.txt
data/raw/TSE/2000/votacao_candidato_munzona_2000_TO.txt
data/raw/TSE/Candidatos_1996.xlsx
data/raw/TSE/LEIAME.pdf
data/raw/TSE/TSE-relacao-candidatos-1996/Candidatos_1996.xlsx
data/raw/TSE/TSE-relacao-candidatos-1996/TSE-relacao-candidatos-1996.zip
data/temp/~$Metadata.xlsm
packrat/lib*/
